@CHARSET "UTF-8";

a {
	padding-right: 20px;
}

.provinceList {
	position: absolute;
	width: 235px;
	border: solid 1px #000000;
}

.cityList {
	position: absolute;
	width: 300px;
	left: 300px;
	border: solid 1px #000000;
}